* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.cabecalho {
    /*height: 60px;*/
    /*background: linear-gradient(to right, #c6006d, #dc5186);*/
}

nav.menu-lateral {
    width: 80px; /* largura inicial */
    height: 100%;
    background: linear-gradient(to right, #c6006d, #dc5186);
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 1.0s ease-in-out, padding-left 1.0s ease-in-out;
}

/* Expande o menu só quando tiver a classe 'expandido' */
nav.menu-lateral.expandido {
    width: 230px;
    /*padding-left: 2%;*/
}

/* Ajustes para links */
ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 0;
    margin: 0;
}

ul li.item-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 8px;

    width: fit-content; /* ocupa só o conteúdo */
    justify-content: flex-start;
    overflow: hidden;
}

/* Ícone quando menu NÃO está expandido (centralizado no espaço de 80px) */
nav.menu-lateral:not(.expandido) ul li.item-menu a .icon {
    width: 80px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ícone quando menu está expandido */
nav.menu-lateral.expandido ul li.item-menu a .icon {
    width: auto;
    margin-left: 25px;
    justify-content: flex-start;
}

/* Texto escondido por padrão */
.txt-link {
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.5s ease, max-width 0.5s ease;
    display: inline-block;
}

/* Texto aparece quando menu expandido */
nav.menu-lateral.expandido .txt-link {
    opacity: 1;
    max-width: 200px; /* ajuste conforme necessário */
}

/* Hover no link */
ul li.item-menu a:hover {
    background-color: #e74d8b;
}

/* Ícones tamanho */
.icon i {
    font-size: 30px;
}

/* Botão expandir */
.btn-expandir {
    width: 100%;
    padding-left: 21px;
    padding-bottom: 50px;
}

.btn-expandir > i {
    color: white;
    font-size: 35px;
    cursor: pointer;
}
