/* Fundo gradiente */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #1e2a78, #e44a8f);
    height: 100vh;
    background-color: white;
}

/* Centralização geral */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Título */
.title {
    color: #fff;
    margin-bottom: 1px;
}

/* Formulário */
.login-form {
    background: rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form h1{
    text-align: center;
}

/*Linha da imagem*/
.linha-com-gif {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #ccc; /* cor da linha */
}

.gif-central {
    margin: 0 10px; /* espaço entre o gif e a linha */
    height: 60px; /* ajuste conforme o tamanho do seu gif */
}

/* Inputs */
.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

/* Botão */
.login-button {
    background-color: #ff5e9c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e74d8b;
}

.login-error{
    color: #000000;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
